body, html {
  min-width: 100vw;
}

.banner-principal {
  background-color: greenyellow;
}

.img-producto {
  height: 200px;
  object-fit: contain;
}

.bg-gy {
  background-color: greenyellow !important;
  color: black !important;
}

footer {
  align-items: center;
  background-color: greenyellow !important;
  bottom: 0;
  color: black !important;
  display: flex;
  justify-content: center;
  padding: 15px;
  position: sticky;
}